name: CI

on:
  push:
    branches:
#      - master
#  pull_request:
#  schedule:
#    - cron: '0 0 * * 1'

jobs:
  watchos:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Building
      run: make wch
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-wch
        path: fsmon-wch
  ios:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: ldid2
      run: |
        git clone https://github.com/razum2um/ldid
        cd ldid && make && cp -f ldid ldid2 /usr/local/bin
    - name: Building
      run: make ios
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-ios
        path: fsmon-ios
    - name: Cydia Package
      run: make -C dist/cydia && cp -f dist/cydia/fsmon*.deb .
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-cydia.zip
        path: fsmon*.deb
  macos:
    runs-on: macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Building
      run: make macos
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-macos
        path: fsmon-macos
  android:
    name: android
    runs-on: ubuntu-22.04
    steps:
    - uses: nttld/setup-ndk@v1
      with:
        ndk-version: r26d
        local-cache: true
    - name: Checkout
      uses: actions/checkout@v4
    - name: Building
      run: |
        export
        make android NDK=${ANDROID_NDK_HOME}
      # ndk-build NDK_PROJECT_PATH=. APP_BUILD_SCRIPT=./Android.mk NDK_APPLICATION_MK=./Application.mk
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-andrdoi.zip
        path: fsmon-and*
  linux:
    name: linux
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Building
      run: make && mv fsmon fsmon-linux
    - uses: actions/upload-artifact@v4
      with:
        name: fsmon-linux
        path: fsmon-linux
